.login{
    
    position: relative;
    top: 300px;
    padding: 0px 100px;
}
.logo-head{
position:absolute ;
margin: 14% 14% 0% 14%;
font-weight: 700;
font-size: larger;

}
.signup{
    text-align:right ;
    margin-right:20px;
    margin-top: 30px;
}
.cell{
    margin:0px ;
    font-size: 12px;
}
.filter-label{
    font-weight: 700;
    font-size: 12px;
}
.filter-content{
    margin-bottom: "15px";
}
.buttonDiv{
    margin-right: 15px;
    display: flex;
    flex-direction: row-reverse;
    height: 5px;
    font-weight: 700;
}
.cancelButton{
    margin-left: 10px;
    font-weight:700;
}
.pagination{
    display: flex;
    flex-direction:row-reverse ;
}
.item-page{
    font-size: 15px;
}